.hover-effect {
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.container-effect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.5s ease-out;

    .shape-background {
        position: absolute;
        width: 80%;
        z-index: -10;
    }
}

@media screen and (max-width: 830px){
    .container-effect {
        width: 100%;
        height: 100%;
    }
}