.skills-page {
  .cv-zone {
    width: 50%;
    margin: auto;
      align-items: center;
      display: flex;
      flex-direction: column;
    img {
      width: calc(400px + 0.390625vw);
      border-radius: 12px;
    }
  }
}

@media screen and (max-width: 830px) {
  .skills-page {
    .cv-zone {
      width: 80%;
      img {
        width: calc(300px + 0.390625vw);
      }
    }
  }
}
