.skills-page {
  .cv-zone {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    img {
      width: calc(300px + 0.390625vw);
      border-radius: 12px;
    }
  }

  .logo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    align-items: flex-end;
    gap: 20px;
    text-align: center;
    list-style-type: none;
  }

  h2 {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 5%;
    font-family: "Arial Rounded MT Bold";
    font-weight: 300;
  }
}

@media screen and (max-width: 830px) {
  .skills-page {
    .cv-zone {
      width: 80%;
      img {
        width: calc(300px + 0.390625vw);
      }
    }
  }
}
