.home-page {
  .text-zone {
    margin-left: 10%;
  }
  h1 {
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
    font-family: "Arial Rounded MT Bold";
    font-weight: 300;

    &::before {
      content: "<h1>";
      font-family: "La Belle Aurore";
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      opacity: 0.6;
      margin-top: -15px;
      margin-left: -26px;
    }

    &::after {
      content: "</h1>";
      font-family: "La Belle Aurore";
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: calc(40px + 0.390625vw);
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }

  .image-zone {
    img {
      width: calc(220px + 0.390625vw);
    }    
  }
}
