.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      display: block;
      position: relative;
      opacity: 1;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #ffd700;
    transition: 0.4s;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    height: 50px;
    font-size: 1rem;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    background: #007265;

    &::placeholder {
      color: #ffd700;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
      border-bottom: 5px solid #ffd700;
    }
  }

  textarea {
    width: 100%;
    border: 0;
    background: #007265;
    height: 50px;
    font-size: 1rem;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;

    &::placeholder {
      color: #ffd700;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
      border-bottom: 5px solid #ffd700;
    }
  }

  .contact-button {
    float: right;
    margin-top: 0px;
  }
}

.info-map {
  position: fixed;
  top: 100px;
  right: 6px;
  z-index: 9999;
  width: 20%;
  padding: 20px;
  color: #fff;
  font-family: "Helvetica";
  font-size: 1rem;
  font-weight: 300;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 114, 101, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  span {
    font-size: 1rem;
    display: block;
    padding-top: 20px;
    color: #ffd700;
  }
}

.map-wrap {
  width: 40%;
  height: 60%;
  margin-left: 2%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
}

@media screen and (max-width: 830px) {
  .map-wrap {
    width: 80%;
    margin-top: 5%;
    height: 320px;
  }

  .info-map {
    display: none;
  }
}
